# Environments
.env
.venv
venv/
.vscode

# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# mypy cache
.mypy_cache/

# Cache directories
rs_score_cache/
ticker_cache/
